@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@200&family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
}

.jooj{
    margin: 10% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jooj__titulo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color:aqua
}

.jooj__paragrafo{
    font-size: 36px;
    color:aqua;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.foto_jooj{
    height: 350px;
    width: 350px;
}

